$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-base: 'Montserrat', $font-family-sans-serif;

// Colors
$blue:   #9CACFA;
$yellow: #F5C04D;
$orange: #F27132;
$purple: #F27132;
$headings-color: #495057;
$text-muted: #b3b3b3;
