@import "~bootstrap/scss/bootstrap.scss";


$test: #fff;
$gray : green;

body {
  background-color: $test;
}

div {
  color: red;
}

h2, h1 {
  color: red;
  background-color: $gray;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.btn-custom {
  @include button-variant(green, #ededed, red);
}
